!!!
html
  head
    title Weather
    meta(http-equiv="content-type" content="text/html; charset=UTF8")
    link(href="style.css" rel="stylesheet")
  body
    h1 Weather
    ul
      li
        a(href='#') 1 Week
      li
        a(href='#') 1 Month
      li
        a(href='#') 1 Year
    #pie
    script(src="eventer.js")
    script(src="underscore.js")
    script(src="d3.js")
    script(src="main.js")
