extends layout

block content
  h1= title
  p Welcome to #{title}

  form#chat
    p
      input#name(name='name' placeholder='Your name...')
    p
      label Chat
      textarea#message(name='message')
    p
      button Submit

  #chatroom.chatroom
