!!!
html
  head
    title Weather
    meta(http-equiv="content-type" content="text/html; charset=UTF8")
    link(href="style.css" rel="stylesheet")
  body
    h1 Weather
    #links
    #content
    script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js")
    script(src="colors.js")
    script(src="main.js")
