body {
  font: 13px/1.5 helvetica, sans-serif;
  text-align:center;
}

h1 {
  font-size:4em;
}

#links {
    margin:1em 0;
    font-size:14px;
}
#links a {
    padding:0 1em;
}

.blueGradient1 {
    stop-color:#3498db;
    color:#A3B6CC;
}
.blueGradient2 {
    stop-color:#2980b9;
    stop-opacity:.4;
}

.rectangle {
    stroke:#eee;
}
